[*.cs]

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none
