<div class="container">
    <br /><br /><br /><br />
    <div class="row justify-content-center">

        <div class="card" align="center" style="vertical-align:central;align-content:center">
            <div class="card-body">

                <div>
                    <img src="~/SupportPhoto/warn-photo1.jpg" height="120px" width="150px" />
                </div>
                <br /><br />
                <hgroup style="color:red">

                    <h1>Error Request</h1>
                    <h2>An error occurred while processing your request.</h2>
                </hgroup>
            </div>
        </div>
    </div>
</div>