<div class="card" style="width: 18rem;">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.drzimmerman.com%2Fwp-content%2Fuploads%2F2016%2F08%2FRudeness-Icon-Image-1400x800.png&f=1&nofb=1" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Blood Group : A+ </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
    </div>
</div>